<!-- Content section 3-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="assets/img/01.png"
            alt="..."
          />
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Logs no Frontend</h2>
          <p>
            Os logs no frontend são essenciais para rastrear e depurar problemas
            em suas aplicações web. Eles podem fornecer informações valiosas
            sobre erros, avisos e eventos importantes que ocorrem durante a
            execução da aplicação.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 2-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="assets/img/02.png"
            alt="..."
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Exemplos de Exceptions</h2>
          <p>
            Aqui estão alguns exemplos de exceptions que podem ocorrer no
            frontend:
          </p>
          <ul>
            <li>TypeError: Cannot read property 'x' of undefined</li>
            <li>ReferenceError: myFunction is not defined</li>
            <li>SyntaxError: Unexpected token</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 3-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="assets/img/03.png"
            alt="..."
          />
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Benefícios dos Logs no Frontend</h2>
          <p>
            Além de ajudar a identificar e corrigir problemas, os logs no
            frontend também podem ser úteis para:
          </p>
          <ul>
            <li>Monitorar o desempenho da aplicação</li>
            <li>Rastrear ações dos usuários</li>
            <li>Identificar padrões de uso</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
